.copyright {
    padding: 20px 0 20px;

    font-size: 1.8rem;
    text-align: center;
}

.copyright-symbol {

}

.copyright-year {

}

.copyright-rights-holder {

}

.copyright-rights-divider {

}

.copyright-rights-type {

}
