.copyright {
    margin: 10px 0;
    
    text-align: center;
}

.copyright-symbol {

}

.copyright-year {

}

.copyright-rights-holder {

}

.copyright-rights-divider {

}

.copyright-rights-type {

}

/* Mobile */
@media screen and (min-width: 320px) {
    .copyright {
        padding: 10px 0;

        font-size: 0.8rem;
    }
}

/* Laptop */
@media screen and (min-width: 700px) {

}

/* Desktop */
@media screen and (min-width: 1000px) {

}

/* Destkop (Large) */
@media screen and (min-width: 1300px) {
    .copyright {
        padding: 20px 0;

        font-size: 1.8rem;
    }
}
