.project-link-list {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.project-link-list-link {
    color: white;
    text-decoration: none;
}

.project-link-list-link:hover, .project-link-list-link:focus {
    text-decoration: underline;
}

/* Mobile */
@media screen and (min-width: 320px) {
    .project-links {
        padding: 0 0 20px;

        text-align: center;
    }

    .project-link-list-title {
        margin: 20px 0;

        font-size: 1.3rem;
    }

    .project-link-list-item {
        margin: 15px 0;

        font-size: 1rem;
    }
    
    .project-link-list-link {
        font-size: 1rem;
    }
}

/* Laptop */
@media screen and (min-width: 700px) {

}

/* Desktop */
@media screen and (min-width: 1000px) {

}

/* Destkop (Large) */
@media screen and (min-width: 1300px) {
    .project-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        padding: 0 0 40px;
    }

    .project-link-list {
        margin: 0;
        padding: 0;

        list-style-type: none;
    }

    .project-link-list-title {
        margin: 30px 0;

        font-size: 1.7rem;
    }

    .project-link-list-item {
        margin: 15px 0; 
    }

    .project-link-list-link {
        color: white;
        font-size: 1.4rem;
        text-decoration: none;
    }

    .project-link-list-link:hover, .project-link-list-link:focus {
        text-decoration: underline;
    }
}
